# Ignore configuration files
config.py
.env
pdfservices-api-credentials.json

# Ignore Python virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore uploads (optional)
uploads/

# orthercodefiles
filetester.py
./templates/upload_old.html
.venv
.vscode